<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <h2>TODO LIST APP</h2>
    <div>
        {{{body}}}
    </div>
    <script src="/public/static/js/jquery.js"></script>
    <script>
        function login(){
            
        }
        function signup(){
            
        }
        function createCollection(url, post_data) {
            $.post(url, post_data, function(return_data){
   	 	      done(return_data);
   	        });
   	 	      function done(return_data) {
   	 		     console.log({return_data, post_data});
            }
        }
        
        function addCard(url, post_data) {
            $.post(url, post_data, function(return_data){
   	 	      done(return_data);
   	        });
   	 	      function done(return_data) {
   	 		     console.log({return_data, post_data});
            }
        }
    </script>
</body>
</html>