<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Andela-do </title>
    <link rel="stylesheet" href="/public/static/css/styles.css" type="text/css"/>
</head>
<body>
    <div>
        <nav>
            
        </nav>
    </div>
    <h2>TODO LIST APP</h2>
    <div>
        {{{body}}}
    </div>
    <script src="/public/static/js/jquery.js"></script>
    <script src="/public/static/js/get_req.js"></script>
    <script src="/public/static/js/post_req.js">
    </script>
    <script >
        getCollection('all');
    </script>
    
</body>
</html>