<div>
    TODO LIST APPLICATION
    
    <h1 onclick="createCollection('/collection/create', {collection_name:'movied    ', user_id:'{{{UID}}}'})" >Create a collection</h1><br />
    <h1 onclick="addCard('/collection/add_card', {collection_name:'movied', user_id:'{{{UID}}}', card_name:'Movies This Month'})">Add a card to list</h1><br />
    <a href="#">Add todo tasks</a><br />
</div>