<div>
    <h3>{{{view}}}</h3>
    <form method="post" action="/auth/loginUser">
        <input type="email" placeholder="email" name="email" />
        <input type="password" placeholder="password" name="password" />
        <button type="submit" >Submit</button>
    </form>
    <h1>{{{ERROR}}}</h1>
</div>