<div>
    {{{views}}}
    <form method="post" action="/auth/signupUser">
        <input type="text" name="fullname" placeholder="Fullname" />
        <input type="text" name="username" placeholder="username" />
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <button type="submit">Sign up</button>
    
    </form>
</div>