body {
    margin : 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: aqua;
}
a.hover {
    text-decoration: underline;
}

nav {
    height: 50px;
    width: 100%;
    background-color: #222222;
}
.msg-box {
    color : #3377ff;
    display: none;
}
.loading {
    height: 50px;
    width:50px;
}
#body {
    height: inherit;
    background-color: #F2F2F2;
}
.err-div {
    color:red;
    font-weight :bolder;
    width: 70%;
    margin-left: 15%;
    display: none;
    background-color: darksalmon;
    border-radius: 2%;
    padding : 10px;
}

.img-circle {
    border-radius: 50%;
}
.large-img-logo {
    height: 100px;
    width:100px;
}
.input-form {
    padding: 5px;
    margin: 15px;
    font-size: 20px;
    color: darkgray;
    border-radius: 4px;
    border-style: none;
    border-bottom: 1px solid #3377ff;   
}
.btn {
    margin:10px;
    border:none;
    font-weight: bold;
    width: 50%;
    border-radius: 2%;
    padding : 10px;
    font-size: 16px;
}

.btn-blue {
    color:#FFFFFF;
    background-color: #3377ff;
}
.btn-blue:hover {
    background-color:#0055ff;
}
#login-view {
   
    text-align: center;
    width: 100%;
    background-color:#f2f2f2;
}
#login-view #form-view {
    border-radius: 30% 0 0 0;
    box-shadow: 1px 1px 2px 1px #C0C0C0;    
    padding: 20px;
    padding-top:50px;
    margin-top: 50px;
    margin-left:35%;
    width:30%;
    background-color: white;
} 
@media screen and (max-width: 580px) {
    
}